body {
    background: #f0f2f5;
}

/* CONTAINER */
.contato-container {
    max-width: 1100px;
    margin: 160px 80px 50px;
    background: white;
    border-radius: 20px;
    display: flex;
    padding: 50px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
    gap: 40px;
}

/* ESQUERDA */
.contato-left {
    flex: 1;
}

.contato-left h1 {
    font-size: 32px;
    color: #1e293b;
    line-height: 1.4;
    text-align: left;
}
.contato-left hr {
    width: 130px;
    border: 2px solid #2c7da0;
    margin-left: 70px;
}

.contato-left span {
    color: #2c7da0;
}

.contato-left p {
    margin-top: 20px;
    color: #64748b;
    text-align: left;
}

/* DIREITA */
.contato-right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.contato-right label {
    font-size: 12px;
    margin-bottom: 5px;
    color: #334155;
    text-align: left;
}

.contato-right input {
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: #e5e7eb;
    margin-bottom: 20px;
}

.contato-right textarea {
    height: 120px;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: #e5e7eb;
    margin-bottom: 20px;
    resize: none;
}

.contato-right button {
    background: #2c7da0;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 120px;
    align-self: center;
}

.contato-right button:hover {
    background: #1f5e7a;
}

/* FOOTER (mantém o seu) */
.footer {
    background: #1a5f6e;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: space-around;
}