/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* CONTAINER */
.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* LADO ESQUERDO */
.left {
  width: 50%;
  background: linear-gradient(135deg, #6ec1e4, #3a8dad);
}

.left img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 🔥 ocupa certinho */
}

/* LADO DIREITO */
.right {
  width: 50%;
  background: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD */
.login-card {
  width: 400px;
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* TITULO */
.login-card h1 {
  font-size: 24px;
  margin-bottom: 8px;
}

.login-card p {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

/* BOTÕES (PACIENTE / MÉDICO) */
.toggle {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.toggle button {
  flex: 1;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #ccc;
  background: #eee;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  transition: 0.3s;
}

.toggle button img {
  width: 18px;
  height: 18px;
}

.toggle button:hover {
  background: #e4e4e4;
}

/* ATIVO */
.toggle .active {
  background: linear-gradient(135deg, #6ec1e4, #3a8dad);
  color: white;
  border: none;
}

/* INPUT GROUP */
.input-group {
  height: 45px;
  position: relative;
  margin-bottom: 12px;
}

/* INPUT */
.input-group input {
  width: 100%;
  padding: 12px 40px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
}

/* ÍCONE ESQUERDA */
.icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
}

/* OLHO DIREITA */
.icon-eye {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.icon-eye:hover {
  transform: translateY(-50%) scale(1.1);
}

/* FOCUS */
.input-group input:focus {
  outline: none;
  border-color: #3a8dad;
}

/* CHECKBOX */
.lembrar {
  display: flex;
  align-items: center;
  margin-left: -200px;
  font-size: 13px;
  color: #555;
}
.lembrar span{
  margin-left: -250px;
}

/* BOTÃO ENTRAR */
form button {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(135deg, #6ec1e4, #3a8dad);
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

form button:hover {
  opacity: 0.9;
}

/* LINKS */
.login-card a {
  color: #3a8dad;
  text-decoration: none;
  font-weight: 500;
}

.login-card a:hover {
  text-decoration: underline;
}

/* TEXTO CADASTRO */
.login-card p:last-of-type {
  margin-top: 15px;
  text-align: center;
}

/* ESQUECI SENHA */
.login-card span {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 13px;
  color: #aaa;
  cursor: pointer;
}

/* RESPONSIVO */
@media (max-width: 900px) {
  .left {
    display: none;
  }

  .right {
    width: 100%;
  }
}